/* Fundo geral */
body {
  background-color: #000B2E; 
  color: #ffffff;  /* textos brancos por padrão */
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg, #000B2E, #001F54);
}
.navbar-brand,
.nav-link {
  color: #ffffff !important;
}
.nav-link.active {
  color: #00F7F2 !important;
}

/* Carrossel */
.carousel-item img {
  width: 100%;
  height: 10vh;           /* altura proporcional */
  object-fit: contain;    /* mostra a imagem inteira */
  object-position: center;
}

/* Cards */
.card {
  background: linear-gradient(180deg, #001F54, #000B2E);
  border: none;
  color: #ffffff;
}
.card-title {
  color: #0090FF;
}
.btn-warning{
  background-color: #00F7F2;
  color: #ffffff;
}
.btn-primary {
  background-color: #0090FF;
  border: none;
}
.btn-primary:hover {
  background-color: #00F7F2;
  color: #000B2E;
}

/* Footer */
footer {
  background: linear-gradient(to right, #000B2E, #001F54);
  color: white;
  padding: calc(2rem + 10px);
}
footer a {
  color: #00F7F2;
  text-decoration: none;
}
footer a:hover {
  color: #0090FF;
}
